<header>
    <div class="container navbar">

        <div class="logo">
            <i class="fa-solid fa-cube"></i>
            ThiVao10
        </div>

        <div class="nav-links">
            <a class="toan-kc" href="../admin/toan-kc_admin.html">Toán KC</a>
            <a class="van-kc" href="../admin/van-kc_admin.html">Văn KC</a>
            <a class="anh-kc" href="../admin/anh-kc_admin.html">Anh KC</a>
            <!-- <a href="#">VIP</a> -->
        </div>

        <button class="btn">
            
        </button>

    </div>
</header>